In [3]:
num = int(input())

20

In [4]:
if num%2 == 0:
    print('Even')
else:
    print('Odd')

Even

In [5]:
while (True):
    num = int(input())
    if (20 < num < 40):
        print(num)
        break

10
50
25
25

In [8]:
a = [1, 2, '3']
a[0]=22

In [9]:
a

[22, 2, '3']

In [6]:
# Tupples

In [10]:
tup = (1, 2.3, 3)

In [15]:
for i in tup:
    print(i)

1
2.3
3

In [23]:
a = 10
b = a

In [24]:
print(id(a), id(b))

140724735711280 140724735711280

In [25]:
a = 20
print(id(a), id(b), a, b)

140724735711600 140724735711280 20 10

In [26]:
lst = [1, 2, 3]
new_list = lst

In [27]:
print(id(lst), id(new_list))

2563180335616 2563180335616

In [28]:
lst.append(4)

In [30]:
print(id(lst), id(new_list), lst, new_list)

2563180335616 2563180335616 [1, 2, 3, 4] [1, 2, 3, 4]

In [31]:
a = 'hello'
b = a

In [32]:
print(id(b), id(a))

2563173503600 2563173503600

In [33]:
b = '2'
print(id(b), id(a))

2563115271408 2563173503600

In [34]:
string = ''

In [36]:
num = 50

In [49]:
def temp():
    hello = 'hi'
    print(hello)

In [50]:
hello = 'Hello'
temp()

hi

In [41]:
print(num)

50

In [51]:
hello

'Hello'

In [64]:
a = -6
b = -6

In [65]:
print(id(b), id(a))

2563187747248 2563187747824

In [71]:
print(id(lst), id(lst[0]),id(lst[1]),id(lst[2]))

2563180335616 140724735710992 140724735711024 140724735711056

In [72]:
tup

(1, 2.3, 3)

In [89]:
def calc(a, b):
    add = a + b
    sub = a - b
    mult = a*b
    div = a/b
    return add, sub, mult, div

In [90]:
calculator = calc(10, 20)

In [92]:
print(calculator)

(30, -10, 200, 0.5)

In [96]:
for i in tup:
    print(i)

1
2.3
3

In [103]:
tup = list(tup)

In [104]:
type(tup)

list

In [106]:
tup[0] = 100

In [108]:
tup = tuple(tup)

In [109]:
type(tup), tup

(tuple, (100, 2.3, 3))

In [114]:
tup = (1, 2, 3, [1, 2, 3])

In [116]:
tup[-1].append(4)

In [117]:
tup

(1, 2, 3, [1, 2, 3, 4])

In [119]:
lst.append((1, 2, 3))

In [122]:
lst[-1].append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [124]:
students = [['Abhijeet', 95], ['Shubham', 98]]

In [125]:
# Dictionary

In [158]:
dictionary = {
    'a': 'The first alphabet',
    'b': 'The second alphabet',
    'c': 'Third Alphabet',
    1: 'One',
    '2': 2,
    2: [1, 2],
    3: {
        1: 'One'
    },
#     3: 'j'
}

In [159]:
dictionary

{'a': 'The first alphabet',
 'b': 'The second alphabet',
 'c': 'Third Alphabet',
 1: 'One',
 '2': 2,
 2: [1, 2],
 3: {1: 'One'}}

In [160]:
d = dictionary[3]

In [161]:
d[1]

'One'

In [162]:
dictionary[3][1]

'One'

In [163]:
for i in dictionary:
    print(i, dictionary[i])

a The first alphabet
b The second alphabet
c Third Alphabet
1 One
2 2
2 [1, 2]
3 {1: 'One'}

In [166]:
type(dictionary['2'])

int

In [173]:
for i in dictionary.keys():
    print(i)

a
b
c
1
2
2
3

In [172]:
for i in dictionary.items():
    print(f'{i[0]}: {i[1]}')

a: The first alphabet
b: The second alphabet
c: Third Alphabet
1: One
2: 2
2: [1, 2]
3: {1: 'One'}

In [175]:
for i in dictionary.items():
    print(i)

('a', 'The first alphabet')
('b', 'The second alphabet')
('c', 'Third Alphabet')
(1, 'One')
('2', 2)
(2, [1, 2])
(3, {1: 'One'})

In [176]:
dictionary.values()

dict_values(['The first alphabet', 'The second alphabet', 'Third Alphabet', 'One', 2, [1, 2], {1: 'One'}])

In [177]:
dictionary.items()

dict_items([('a', 'The first alphabet'), ('b', 'The second alphabet'), ('c', 'Third Alphabet'), (1, 'One'), ('2', 2), (2, [1, 2]), (3, {1: 'One'})])

In [179]:
dictionary.get('a')

'The first alphabet'

In [181]:
dictionary['new'] = [1, 2, 3, 4, 5]

In [184]:
dictionary

{'a': 'The first alphabet',
 'b': 'The second alphabet',
 'c': 'Third Alphabet',
 1: 'One',
 '2': 2,
 2: [1, 2],
 3: {1: 'One'},
 'new': [1, 2, 3, 4, 5]}

In [185]:
dictionary.pop('new')

[1, 2, 3, 4, 5]

In [186]:
dictionary

{'a': 'The first alphabet',
 'b': 'The second alphabet',
 'c': 'Third Alphabet',
 1: 'One',
 '2': 2,
 2: [1, 2],
 3: {1: 'One'}}

In [187]:
a

-6

In [188]:
del a

In [189]:
a

NameError: name 'a' is not defined