In [1]:
class SchoolMembers:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f'Initialised a School Member: {self.name}')
        
    def details(self):
        print(f'Name: {self.name}, Age: {self.age}')

In [24]:
class Teachers(SchoolMembers):
    
    def __init__(self, name, age, salary):
        SchoolMembers.__init__(self, name, age)
        self.salary = salary
        print(f'Initialised teacher: {self.name}')
        
    def details(self):
        SchoolMembers.details(self)
        print(f'Salary: {self.salary}')

In [25]:
abhijeet = Teachers('Abhijeet', 23, 200)

Initialised a School Member: Abhijeet
Initialised teacher: Abhijeet

In [26]:
abhijeet.details()

Name: Abhijeet, Age: 23
Salary: 200

In [27]:
Teachers('a', 2, 2).details()

Initialised a School Member: a
Initialised teacher: a
Name: a, Age: 2
Salary: 2

In [28]:
a = 10
b = 20
print(f'Value of: {a} and {b}')

Value of: 10 and 20

In [29]:
class Student(SchoolMembers):
    
    def __init__(self, name, age, marks):
        super().__init__(name, age)
        self.marks = marks
        print(f'Initialised Student: {self.name}')
        
    def details(self):
        super().details()
        print(f'Student marks: {self.marks}')

In [77]:
abhijeet = Student('abhijeet', 23, 50)
manya = Student('Manya', 20, 95)

Initialised a School Member: abhijeet
Initialised Student: abhijeet
Initialised a School Member: Manya
Initialised Student: Manya

In [31]:
abhijeet.details()

Name: abhijeet, Age: 23
Student marks: 50

In [54]:
class class1:
    
    def details(self):
        print('In class 1')
        
class class2(class1):
    def details(self):
        print('In class 2')
#     pass

class class3(class1):
    
    def details(self):
        print('In class 3')
        
class class4(class2, class3):
    
#     def details(self):
    print('In class 4')

In class 4

In [55]:
obj = class4()

In [56]:
obj.details()

In class 2

In [58]:
print(a)
a = 20
print(a)

10
20

In [60]:
print(type(20))

<class 'int'>

In [62]:
print(type('2.1'))

<class 'str'>

In [63]:
print(type(range))

<class 'type'>

In [64]:
a = 10

In [71]:
print(isinstance([1, 2, 3], object))

True

In [73]:
a = 10
b = 20

In [74]:
print(a + b)

30

In [76]:
isinstance(abhijeet, object)

True

In [102]:
class Kuch_bhi2:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __add__(self, other):
        print(f'Added value: {self.age + other.age}')
        
    def __sub__(self, other):
        print(f'Subtracted value: {self.age - other.age}')
        
    def __eq__(self, other):
        print(f'It is: {self.age == other.age}')

In [103]:
abhijeet = Kuch_bhi2('Abhijeet', 23)
manya = Kuch_bhi2('Manya', 20)

In [104]:
abhijeet + manya

Added value: 43

In [105]:
abhijeet - manya

Subtracted value: 3

In [106]:
abhijeet == manya

It is: False

In [96]:
'a + b' + 'a - b'

'a + ba - b'

In [110]:
print(isinstance('2', str))

True